language: python
python:
  - "3.8"
before_install:
  - "pip install -U pip"
  - "python setup.py install"
  - pip install codecov
install:
  - pip install -r requirements.txt
script:
  - pytest --cov=tests --cov-report=xml
notifications:
  email:
    on_success: never
    on_failure: always
after_success:
  - bash <(curl -s https://codecov.io/bash)
