language: python
python:
  - "3.8"
install:
  - pip install -r requirements.txt
script:
  - python -m pytest --cov-report term --cov=Noesis

notifications:
  email:
    on_success: never
    on_failure: always
after_success:
  - codecov
