.home-page {

  font-size: 400%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: rgb(253, 79, 42);
}

.page-header {
  font-size: 200%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.ReactTable {
  width: 60%;
  margin: 5px 257px;
  border-radius: 10px;

  .rt-thead {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(254, 160, 39);
  }

  .rt-th {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;

    &:focus {
      outline: none;
    }
  }

  .rt-tr {
    .rt-td {
      background: white;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.navStyle {
  color: rgb(98, 158, 187);
  list-style-type: circle
}

.top_bar_links {
  color: rgb(240, 226, 200);
}

.array {
  color: rgb(98, 158, 187);
  display: flex;
  flex-direction: column;
}

body
{
  background-color: rgb(240, 226, 200);; /* The page background will be black */
  color: black; /* The page text will be white */
}